name: CI
on:
  push:
    branches:
      - master
      - main
  pull_request:
jobs:
  unix:
    name: Compile
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]
        java: [8]
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v11
        with:
          java-version: "adopt@1.${{ matrix.java }}"
      - name: sbt test plugin/scripted
        if: ${{ matrix.os == 'ubuntu-latest' }}
        shell: bash
        run: |
          export JABBA=/home/runner/bin/jabba
          $JABBA install graalvm@20.2.0
          export GRAALVM_HOME=$($JABBA which --home graalvm@20.2.0)
          $GRAALVM_HOME/bin/gu install native-image
          export NATIVE_IMAGE_COMMAND=$GRAALVM_HOME/bin/native-image
          sbt test plugin/scripted
      - name: sbt test
        shell: cmd
        if: ${{ matrix.os == 'windows-latest' }}
        run: >-
          "C:\Program Files (x86)\Microsoft Visual
          Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat" && sbt
          example/nativeImage
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v10
      - run: sbt checkAll
